.Contacts-address-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

a, a:visited {
    text-decoration: none ;
    color: #007bff;
}

a:hover {
    color: #495057;
}

.Contacts-address-list > * {
    margin: 5px;
}

