.Portfolio-card {
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.Portfolio-card-header {
    border-bottom: 1px solid #cccccc;
    font-size: 18px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-weight: 400;
    margin: 0;
    background-color: rgba(0,0,0,.03);
}

.Portfolio-card-body {
    padding: 20px;
    overflow: hidden;
}

.Portfolio-card > img {
    border-radius: 5px;
    float: right;
    margin: 10px;
}

@media (max-width: 576px) {

    .Portfolio-card > img {
        float: none ;
        width: calc(100% - 20px) ;
        height: 100%;
        object-fit: contain;
        margin-bottom: 0;
    }
}

@keyframes Portfolio-card-details_appear-animation {
    0% { max-height: 0; }
    100% {  max-height:400px;  }
}


.Portfolio-card-details {
    padding: 0 20px 20px 20px;
    animation-name: Portfolio-card-details_appear-animation;
    animation-duration: 1s;
    overflow: hidden;
    max-height:100%;
}

.Portfolio-card-details > p:first-child, .Portfolio-card-body > p:first-child {
    margin: 0;
}

.Portfolio-card-details > p:last-child, .Portfolio-card-body > p:last-child {
    margin-bottom: 0;
}

.Portfolio-card-button {
    color: #007bff;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #007bff;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
    margin: 0 0 0 10px;
}

.Portfolio-card-button:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    outline: none;
}

.Portfolio-card-button:active, .Portfolio-card-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
    outline: none;
}

.Portfolio-card-buttons-container {
    text-align: left;
    padding: 0 20px 20px 0;
}