.App {
  text-align: center;
}

.App-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: 1px solid #dee2e6;
}

.App-nav-link {
  display: block;
  color: #007bff;
  padding: 10px 50px 10px 50px ;
  text-decoration: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid transparent;
  margin-bottom: -1px;
}

.App-nav-link:hover {
  color: #0056b3;
  border-color: #e9ecef #e9ecef #dee2e6;
}

.App-nav-link.active, .App-nav-link.active.hover {
  border-color: #dee2e6 #dee2e6 #fff;
  color: #495057 ;
}

